<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>261267572024-f80iv4cpmjpe31u165t3ns471nngmckj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.261267572024-f80iv4cpmjpe31u165t3ns471nngmckj</string>
	<key>API_KEY</key>
	<string>AIzaSyAZfaz1vYv7S1uFX_TpbEc9gdQbN5nkcSE</string>
	<key>GCM_SENDER_ID</key>
	<string>261267572024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.yeamern.eatzypeazy</string>
	<key>PROJECT_ID</key>
	<string>eatzy-peazy</string>
	<key>STORAGE_BUCKET</key>
	<string>eatzy-peazy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261267572024:ios:7d1849fd2a5f7778</string>
	<key>DATABASE_URL</key>
	<string>https://eatzy-peazy.firebaseio.com</string>
</dict>
</plist>